.cancelBtn {
    position: relative;
    /* display: inline-block; */
    height: 25%;
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: white;
    color: red;
    border: none;
    top: 90%;
}

.homeCentering {
    position: absolute;
    top: 25%;
    left: 25%;
    margin-top: 5%;
    text-align: center;
    
    width: 50%;
    height: 50%;
}