.defaultSubmitBtn {
    position: relative;
    height: 25%;
    top: 150%;
    background-color: blue;
    color: white;
    text-align: center;
    vertical-align: center;
}

.invisibleInput {
    position: absolute;
    top: 30%;
    height: 10%;
    border: none;
    text-align: center;
    box-shadow: none;
    outline: none;
    font-size: 300%;
    width: 95%;
    padding-left: 5%;
}

.registrationTitle {
    position: absolute;
    top: 5%;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-left: 10%;
    width: 80%;
}

.feedbackText {
    position: relative;
    top: 130%;
    text-align: center;
    height: 20%;
    font-size: 150%;
}