.background {
    background-color: whitesmoke;
    background-image: url("/src/assets/welcome/section-hero.png");
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 100%;
    min-height: 100%;
    filter: blur(3px);
}

.footer {
    /* background-color: ; */
}

.footerLogo {
    width: 30px;
    /* margin: 5px; */
}
